.ubuntu-light {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

.texto-topo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
    height: 70px;
}

.texto-topo p{
    color: #f1f1f1;
    font-style: initial;
    font-family: monospace;
    font-size: 30px;
    font-weight: bold;
    transform: scale(1.09);
    transition: 0.3s;
}   

@keyframes flip{
    0% {
        transform: scale(1.00) rotateY(0deg); /* Começa com a escala e rotação em 0 */
    }
    50% {
        transform: scale(1.00) rotateY(180deg); /* Meia rotação */
    }
    100% {
        transform: scale(1.00) rotateY(360deg); /* Rotação completa */
    }
}

body {
    
    justify-content: center;
    align-items: center;
    background-color: #000000;
}


.chat-container {
    width: 80%;
    height: 700px;
    border-radius: 10px;
    border: 0.5px solid #c9c9c934;
    box-shadow: 0 10px 100px rgba(255, 255, 255, 0.1);
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    overflow: hidden;
}
.chat-header {
    background: #ffffff;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-header button{
    background: #000000;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
}


.chat-header img{
    background: #000000;
    color: white;
    width: 140px;
    background-color: white;
    padding: 0px;
    animation: flip 1s linear normal;
}

.chat-header button {
    background: rgb(0, 0, 0);
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0.1);
    transition: .4s;
}

.chat-header button:hover {
    background: rgb(255, 255, 255);
    color: #000000;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    box-shadow: 0 4px 10px rgb(0, 0, 0);
    transform: scale(1.05);
}
    
.chat-box {
    flex: 1;
    padding: 15px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ddd;
    background-image: url(img/Cópia\ de\ LG\ \(2\).jpg);
    background-repeat: no-repeat;
    font-family: monospace;
}
.chat-input {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ddd;
    background: white;
}
.chat-input input {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    background: #f1f1f1;
}
.chat-input button {
    padding: 10px;
    margin-left: 10px;
    border: none;
    background: #000000;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.438);
    transition: .4s;
}

.chat-input button:hover {
    padding: 10px;
    margin-left: 10px;
    border: none;
    background: #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgb(0, 0, 0);
    transform: scale(1.05);
}

@media screen and (max-width: 1020px){
    .texto-topo p{
        font-size: 15px;
        transform: scale(1.09);
        transition: 0.5s;

    }

    .chat-header button {

        font-size: 10px;
        box-shadow: 0 4px 15px rgba(255, 255, 255, 0.1);
        transition: .4s;
        width:  100px;

    }
    
    .chat-header button:hover {
        background: rgb(255, 255, 255);
        color: #000000;
        border: none;
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 10px;
        box-shadow: 0 4px 15px rgba(255, 255, 255, 0.1);
        transform: scale(1.05);
    }

    .chat-box {
        flex: 1;
        padding: 15px;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        background-position: -310px -30px;
        color: #ddd;
        background-image: url(img/Cópia\ de\ LG\ \(2\).jpg);
        background-repeat: no-repeat;
        font-family: monospace;
    
}